.formNewTodo {
  box-sizing: border-box;
  background: #fff;
  height: 8vh;
  margin: 10px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 2px;
  border-radius: 3px;
}

.inputTodo {
  margin: 25px 25px;
  width: 95%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 96%,
    #1abc9c 4%
  );
  background-position: -1050px 0;
  background-size: 1050px 100%;
  background-repeat: no-repeat;
  color: darken(#1abc9c, 20%);
}
.inputTodo:focus {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
  &::-webkit-input-placeholder {
    color: #1abc9c;
    transform: translateY(-200px);
    visibility: visible !important;
  }
}
