.todoForm {
  width: 80%;
  margin: 20px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}
.todoHoler {
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}
.todoError {
  margin-top: 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 200%;
  height: 500px;
}
.todoActions {
  height: 5vh;
  margin-top: 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoShowMore {
  padding: 8px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  background: #fff;
  width: 100%;
}
.todoGroup {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
.createTime {
  margin-top: 10px;
  padding: 0px 30px;
  color: #3c454c;
  font-size: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todoLabel {
  padding: 12px 30px;
  flex: 10;
  display: block;
  text-align: justify;
  color: #3c454c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  font-size: 80%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.todoContainer {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch.on {
  background: #1abc9c;
}
.todoEdit {
  background: #fff;
  color: #1abc9c;
  font-size: 80%;
}

.todoDelete {
  background: #fff;
  color: #f00;
  font-size: 80%;
}
