body {
  margin: '10px';
  padding: 0;
  background: #d1d7dc;
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
}

input::-webkit-input-placeholder,
button {
  transition: all 0.3s ease-in-out;
  outline: none;
}
